@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "screens/main.css";
@import "screens/follow.css";
@import "screens/message.css";

body {
  color: black;
  font-family: "Open Sans" sans-serif;
  height: 100vh;
}
