@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "../reset.css";

body {
  font-family: "Open Sans", sans-serif;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message__title {
  position: absolute;
  margin: 90px 0px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
}

.text-editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 90px;
  position: absolute;
  -webkit-transform: rotate(-12.2deg);
}

.text-editor input {
  border: none;
  padding: 15px 5px;
  font-size: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 550px;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}

.text-editor input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

.text-editor input[type="submit"] {
  padding: 10px 10px;
  border-radius: 5px;
}

.img {
  display: flex;
}

.img__messenger {
  width: 100%;
}
