@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "../reset.css";

body {
  font-family: "Open Sans", sans-serif;
}

.messenger__sdsd {
  position: absolute;
  margin: 90px 0px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
}

.messenger {
  width: 100%;
  opacity: 0.6;
}
